body {
    background: #111;
    color: white;
    font-family: Arial;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
